body {
  background-color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.game-container {
  border: solid 1px #d9d9d9;
  /* height: 180px; */
  /* width: 250px; */
  border-radius: 12px;
  background-color: white;
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color:green;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 10px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  margin-top: 10px;
}
#resetButton{
  padding: 10px 20px;
  font-size: 16px;
  background-color:darkred;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 10px;
}
